body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
}

.other-section {
    background-color: #eee;
    height: 3000px;
}

.description {
    width: 490px;
    padding: 80px 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    margin: 0 auto 100vh;
}

.description h3 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.description p {
    font-size: 18px;
    margin: 12px 0 0;
}

.homepod-container {
    width: 100%;
    height: 100vh;
    /*设置 position 为 sticky 并设置 top = 0,
    滚动的时候 homepod 图片合集就不会跟着页面滚动
    可以一直在页面顶部通过变化透明度来更替*/
    position: sticky;
    top: 0;
    z-index: -1;
}

.homepod {
    width: 654px;
    height: 825px;
    position: absolute;
    /*水平垂直居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepod div {
    width: inherit;
    height: inherit;
    background-size: contain;
    background-position: center center;
    /*homepod 图片合集绝对定位到页面顶部*/
    position: absolute;
    top: 0;
    left: 0;
}

.device {
    background-image: url(https://assets.codepen.io/2002878/homepod.jpg);
}

.part-1 {
    background-image: url(https://assets.codepen.io/2002878/homepod_1.jpg);
    opacity: var(--part-1);
}

.part-2 {
    background-image: url(https://assets.codepen.io/2002878/homepod_2.jpg);
    opacity: var(--part-2);
}

.part-3 {
    background-image: url(https://assets.codepen.io/2002878/homepod_3.jpg);
    opacity: var(--part-3);
}

.part-4 {
    background-image: url(https://assets.codepen.io/2002878/homepod_4.jpg);
    opacity: var(--part-4);
}

.ending {
    background-image: url(https://assets.codepen.io/2002878/homepod.jpg);
    opacity: var(--ending);
}

.description-container {
    /*最后一屏等 description 结束再开始滚动 homepod 图片*/
    padding-bottom: 100vh;
}

.description:last-child {
    /*最后一张 homepod 图片和下一个部分之间的 margin 设为 0*/
    margin-bottom: 0;
}